.App {
  text-align: center;
  background-color: #f8f8ff;
  height: 700px;
  margin: auto 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.home-style{
  display:flex;
}
.thumb {
  height:25%;
  width:25%;
  border-radius:50%;
  display:flex;
  margin-left: 50px;
  padding-bottom: 20px;
}

.nav-style{
  background: linear-gradient(to left, rgba(248,248,255), rgba(145	196	153));
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.welcome {
  font-family: 'GFS Didot';
  font-size: 75px;
  padding-left: 25%;
}


.welcome-content{
  display: inline-block;
  width: 55%;
}

.welcome-text {
  padding-left:30%;
  width:92%;
  font-size: 20px;
  margin-left: 2%;
}

.button-format{
  padding-left:25%;
  display: inline-block;
}

.welcome-text-1 {
  padding-left: 35%;
  width: 82%;
  margin-left: 4%;

}

@import url('https://fonts.googleapis.com/css?family=GFS+Didot')
