.App {
  text-align: center;
  background-color: #f8f8ff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.home-style{

}
.thumb {
  height:25%;
  width:25%;
  border-radius:50%;
  display:flex;
  margin-left: 50px;
}

.nav-style{
  background: linear-gradient(to left, rgba(248,248,255), rgba(145	196	153));
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
